@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
body {
  padding: 8px;
  font-family: "Raleway", sans-serif;
  background: #eeeeee;
  color: #393e46;
}

.main {
  max-width: 540px;
  margin: 0 auto;
  padding: 8px;
}

input {
  border: 0;
  outline: 0;
  background: transparent;
}

#title {
  font-family: "Lato", sans-serif;
  margin: 36px auto;
}

#description {
  margin-bottom: 36px;
}

.text-center {
  text-align: center;
}

#survey-form .subtext--required {
  color: #393e46;
  font-size: 10px;
}
#survey-form .form-group {
  padding: 12px;
  margin-bottom: 36px;
  background: #f7f7f7;
  position: relative;
  /*
  input focus animation
  source: https://codepen.io/xayaraj/pen/amzydG
  */
  /*
      styles for checkbox and radio buttons
      source: https://codepen.io/jasesmith/pen/EeVmWZ
  */
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}
#survey-form .form-group label {
  display: block;
  margin-bottom: 8px;
  background: #f7f7f7;
}
#survey-form .form-group .text-label {
  margin: 0;
  padding: 8px 0;
}
#survey-form .form-group .text-input {
  box-sizing: border-box;
  font-size: 14px;
  position: relative;
  padding: 8px;
  width: 100%;
  border-bottom: 1px solid #B3AEAB;
}
#survey-form .form-group .text-input:focus + .underline {
  transform: scale(1);
}
#survey-form .form-group .underline {
  background-color: #393e46;
  display: inline-block;
  height: 2px;
  position: absolute;
  bottom: 12px;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: calc(100% - 22px);
  left: 12px;
}
#survey-form .form-group:last-child {
  background: #eeeeee;
  text-align: center;
}
#survey-form .form-group select {
  border: 0;
  background: #f7f7f7;
  border-bottom: 1px solid #B3AEAB;
  width: 100%;
  padding: 8px;
  padding-left: 0;
}
#survey-form .form-group select:focus {
  outline: none;
}
#survey-form .form-group textarea {
  border: 1px solid #B3AEAB;
  background: #f7f7f7;
  color: #393e46;
  font-size: 12px;
  width: calc(100% - 18px);
  min-height: 50px;
  padding: 8px;
}
#survey-form .form-group textarea:focus {
  outline: none;
}
#survey-form .form-group button[type=submit] {
  background: #f7f7f7;
  border: 1px solid #393e46;
  color: #393e46;
  padding: 8px;
  font-size: 14px;
  font-weight: bold;
  min-width: 200px;
  text-align: center;
  border-radius: 0;
}
#survey-form .form-group input[type=checkbox],
#survey-form .form-group input[type=radio] {
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: inherit;
  width: 1em;
  margin: 0;
  margin-right: 8px;
  color: inherit;
  outline: none;
  font-family: "Font Awesome 5 Pro";
  transition: 300ms ease-out;
}
#survey-form .form-group input[type=checkbox]::after,
#survey-form .form-group input[type=radio]::after {
  content: "";
  display: inline-block;
  text-align: center;
  width: 1em;
}
#survey-form .form-group input[type=checkbox]:checked::after,
#survey-form .form-group input[type=radio]:checked::after {
  font-weight: 900;
}
#survey-form .form-group input[type=checkbox]:active,
#survey-form .form-group input[type=radio]:active {
  transform: scale(0.6);
}
#survey-form .form-group input[type=checkbox] + span,
#survey-form .form-group input[type=radio] + span {
  margin-left: 0.35em;
}
#survey-form .form-group input[type=radio]:checked::after {
  content: "";
}
#survey-form .form-group input[type=checkbox]:checked::after {
  content: "";
}
#survey-form .form-group input::-webkit-outer-spin-button,
#survey-form .form-group input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#survey-form .form-group input[type=number] {
  -moz-appearance: textfield;
}
#survey-form .form-group ::-webkit-input-placeholder {
  /* WebKit browsers */
  color: transparent;
}
#survey-form .form-group :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: transparent;
  opacity: 1;
}
#survey-form .form-group ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: transparent;
  opacity: 1;
}
#survey-form .form-group :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: transparent;
}

.flex {
  display: flex;
}
.flex.space-around {
  justify-content: space-around;
}
.flex .flex-group {
  width: 50%;
  padding: 8px;
}

/*# sourceMappingURL=styles.css.map */
